.hero {
  @include flexbox(center, center);
  max-width: 768px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-color-dark);
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) and (max-width: 1199px) {
    min-height: 400px;
    max-width: 1199px;
  }

  @media (min-width: 1200px) {
    min-height: 600px;
    max-width: 1600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/img@2x.jpg');
  }
}

.hero__title {
  margin-bottom: var(--set-gap);

  color: var(--primary-color-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;

  color: var(--primary-color-white);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include transition(color);
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--secondary-color-headings);
}
