.logo {
  color: #000000;

  @media (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo--font {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.web {
  color: var(--blue-color);
}

.page-footer__logo {
  color: var(--primary-color-white);
}
