:root {
  --primary-color-text: #757575;
  --secondary-color-headings: #212121;
  --primary-color-white: #ffffff;
  --secondary-color-white: rgba(255, 255, 255, 0.6);
  --blue-color: #2196f3;
  --background-color-grey: #f5f4fa;
  --background-color-dark: #2f303a;
  --social-icons: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);

  --set-gap: 30px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --font-size: 14px;
  --line-height: 1.71;
  --letter-spacing: 0.03em;
}

